@font-face {
  font-family: regular;
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: semiBold;
  src: url(./fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(./fonts/OpenSans-Bold.ttf);
}

:root {
  --whiteColor: #EFEFEF;
  --whiteColor50opacity: #efefef81;
  --darkColor: #212529;
  --darkColor50opacity: #2125297c;
  --yellowColor: #F8F335;
  --greenColor: #45d345;
  --errorColor: #f07973;
  --fontSizeSmall: 12px;
  --fontSizefooterMobil: 14px;
  --fontSizeStandard: 16px;
  --fontSizeNavbar: 18px;
  --fontSize24px: 24px;
  --fontSizeHeadingH1: 42px;
  --fontSizeHeadingH2: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}

.App {
  background-color: var(--whiteColor);
}

.navMainContainer {
  width: 100%;
  background-color: var(--darkColor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* overflow: hidden; */
}

.mainContent {
  overflow: hidden;
}

.footerMainContainer {
  width: 100%;
  background-color: var(--darkColor);
  overflow: hidden;
}