#infobar {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 20px;
    position: relative;
}

/* #infobar::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 1px;
    width: 100vw;
    background-color: var(--yellowColor);
} */

.infobarContainer {
    display: flex;
    gap: 2rem;
}

.infobarPhoneTimeContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--whiteColor);
    font-size: var(--fontSizeSmall);
    transition: all 250ms ease;
}

.infobarTime {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.infobarPhoneTimeContainer.link:hover {
    opacity: 0.7;
}

.infobarText {
    color: var(--whiteColor);
    font-size: var(--fontSizefooterMobil);
    font-style: italic;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.infobarSocialsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.infobarSocialsContainer svg {
    height: 18px;
    width: 18px;
    color: var(--yellowColor);
    transition: all 250ms ease;
}
.infobarSocialsContainer svg:hover {
    transform: scale(1.1);
}